<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue | Inscape</title>
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body>
    <!-- <div id="app">Tekst vanuit Data: <i>{{tekst}}</i></div> -->

    <div id="app">
      <h3>Biertjes</h3>
      <table>
        <tr v-for="">
          <th v-for=""></th>
        </tr>
        <tr v-for="bier in biertjes">
          <td v-for="item in bier">{{item}}</td>
        </tr>
      </table>
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.6/axios.js"
      integrity="sha512-7cpueFu5hvBv2p0IJMXNvs95Q3evQCHaR6eOayt06Wr4ICKShzGDC5d0O26/TvIvExMsNPXPmg6RcTA/LMvaoA=="
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
